<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMS_Connector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CMS_Connector.Properties.Settings>
            <setting name="CMS_Connector_SPDocumentCopyService_Copy" serializeAs="String">
                <value>http://hostname-cms/_vti_bin/Copy.asmx</value>
            </setting>
            <setting name="CMS_Connector_SPGetList_Lists" serializeAs="String">
                <value>http://hostname-cms/_vti_bin/Lists.asmx</value>
            </setting>
        </CMS_Connector.Properties.Settings>
    </applicationSettings>
</configuration>