<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <!-- -->
    <add key="Host_Google" value="imap.gmail.com"/>
    <add key="User_Google" value="mail@company.com"/>
    <add key="Password_Google" value="password"/>
    <!-- -->
    <add key="MarkAsSeen" value="False"/>
    <add key="SharePointSiteUrl" value="http://hostname-cms/site/url/"/>
    <add key="SharePointLibraryName" value="Document-Library/" />
    <add key="TrademarkSharePointLibraryName" value="Library1/" />
    <add key="PatentSharePointLibraryName" value="Library2/"/>
    <add key="RoutingLog" value="Document Routing Log/"/>    
    <add key="GetMailType" value="NEW"/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="BasicHttpBinding_IIPLotusNotesMail">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IIPLotusNotesMail"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647"
                 maxBufferPoolSize="2147483647"
                 openTimeout="01:00:00"
                 sendTimeout="01:00:00"
                 receiveTimeout="01:00:00"
                 closeTimeout="01:00:00">
          
          <readerQuotas maxDepth="2147483647" 
                        maxArrayLength="2147483647" 
                        maxStringContentLength="2147483647" 
                        maxBytesPerRead="2147483647" 
                        maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BasicHttpBinding_IIPLotusNotesMail"
                address="http://hostname-lnservice:1000/IPLotusNotesMailService.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IIPLotusNotesMail"
                contract="IPLotusNotesMailService.IIPLotusNotesMail"
                behaviorConfiguration="BasicHttpBinding_IIPLotusNotesMail"/>
    </client>
  </system.serviceModel>  
</configuration>


