<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharepointLog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <SharepointLog.Properties.Settings>
            <setting name="SharepointLog_WebReferenceLists_Lists" serializeAs="String">
                <value>http://nypw-connect/_vti_bin/lists.asmx</value>
            </setting>
        </SharepointLog.Properties.Settings>
    </applicationSettings>
</configuration>