<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILotusNotesMail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hostname-lnservice:1000/LotusNotesMailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotusNotesMail"
                contract="LotusNotesMailService.ILotusNotesMail" name="BasicHttpBinding_ILotusNotesMail" />
        </client>
    </system.serviceModel>
</configuration>