<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IIPLotusNotesMail" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://hostname-lnservice:1000/IPLotusNotesMailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIPLotusNotesMail"
                contract="IPLotusNotesMailService.IIPLotusNotesMail" name="BasicHttpBinding_IIPLotusNotesMail" />
        </client>
    </system.serviceModel>
</configuration>