<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILotusNotesMail" />
                <binding name="BasicHttpBinding_ILotusNotesMail1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:63294/Services/LotusNotesMailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotusNotesMail"
                contract="LotusNotesMailService.ILotusNotesMail" name="BasicHttpBinding_ILotusNotesMail" />
            <endpoint address="http://localhost:7055/Services/LotusNotesMailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILotusNotesMail1"
                contract="LotusNotesMailService.ILotusNotesMail" name="BasicHttpBinding_ILotusNotesMail1" />
        </client>
    </system.serviceModel>
</configuration>