<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HostLotusNotesServer" value="lotus-notes-server-hostname"/>
    <add key="PathLotusNotesDatabase" value="/folder/mail.nsf"/>
    <add key="PasswordLotusNotesAccount" value="PasswordLotusNotesAccount"/>
    <add key="StartDateMailAll" value="10/27/2014 11:55:00 AM"/> <!-- Later date is a layer of protection for not loading old email -->
    <add key="StartDateMailNew" value="1/1/2020 12:00:00 AM"/> <!-- Later date is a layer of protection for not loading old email -->
    <add key="FilepathLocalTempFiles" value="C:\temp\EmailAttachmentsLegal\"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web> 
  <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="ILotusNotesMailBinding"
                     closeTimeout="00:10:00"
                     openTimeout="00:10:00"
                     receiveTimeout="10:00:00"
                     sendTimeout="00:10:00"
                     maxBufferPoolSize="2147483647"
                     maxReceivedMessageSize="2147483647">
        
              <readerQuotas maxDepth="32"
                            maxStringContentLength="2147483647" maxArrayLength="2147483647"
                            maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
            </binding>
          </basicHttpBinding>
        </bindings>
    <services>
      <service behaviorConfiguration="LotusNotesMailServiceBehavior"
        name="Company.ServiceModel.LotusNotesMailService.LotusNotesMailService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="ILotusNotesMailBinding"
          contract="Company.ServiceModel.LotusNotesMailService.ILotusNotesMail" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LotusNotesMailServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>